@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #212121;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* card styling */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding: 0 10%;
}
@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  background: #d7eeff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1% 5%;
  border-radius: 15px;
  box-shadow: 1px 1px 8px black;
  line-height: 2;
  line-break: auto;
}
.card button {
  color: #212121;
  font-size: 4rem;
  background: none;
  width: 20%;
  align-self: flex-end;
  border: none;
}

@media (max-width: 700px) {
  .card {
    width: 90%;
  }
}

/* input area stying */
.inputarea {
  position: relative;
  background-color: #d7eeff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
  border-radius: 15px;
  padding: 1% 2%;
  margin: 5% auto;
  box-shadow: 0 0 10px black;
}
.inputarea input {
  background: none;
  font-size: 1.5rem;
  align-self: flex-start;
  border: none;
  width: 100%;
  padding: 4% 0;
  outline-style: none;
}
.inputarea button {
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212121;
  font-size: 2rem;
  height: 1.5em;
  width: 1.5em;
  align-self: center;
  border-radius: 50px;
  cursor: pointer;
  bottom: calc(-1.5em / 2);
}
.inputarea button:hover {
  background-color: #494949;
}

@media (max-width: 700px) {
  .inputarea button {
    height: 1em;
    width: 1em;
    bottom: calc(-1em / 2);
  }
}
